/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS Setup */

* {
  box-sizing: border-box;
}

/* Page Layout */

.wrapper {
  width: 100%;
}

body > * {
  /* width: 100px;
  height: 100px; */
}

nav {
  box-sizing: border-box;
  /* background-color: rosybrown; */
  width: 100vw;
  height: 50px;
  padding: 8px;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid #e2e2e2;
  background: white;
}

.content {
  position: relative;
  top: 50px;
}

.header {
  /* background-color: salmon; */
  display: block;
  width: 100%;
  height: auto;
}

.splash-photo,
.splash-caption-area {
  /* background-color: springgreen; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.splash-photo img,
.splash-photo.caption-wrapper {
  width: 945px;
}

.splash-photo.caption-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.splash-photo.caption {
  max-width: 720px;
}

@media all and (max-width: 945px) {
  .splash-photo img,
  .splash-photo.caption {
    max-width: 100vw;
  }
}

article {
  /* background-color: steelblue; */
}

.recomendations {
  /* background-color: tomato; */
}

footer {
  /* background-color: thistle; */
  width: 100%;
  height: 200px;
}

/* Nav layout */

nav {
  display: flex;
}

#nav-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

#nav-logo img {
  width: 225px;
}

#user-logo,
#menu-logo {
  height: 16px;
  flex: 1 1 16px;
  display: flex;
}

#user-logo {
  justify-content: flex-end;
}

#user-logo img,
#menu-logo img {
  height: 16px;
}

/* article layout */

.article-wrapper {
  width: 600px;
  margin: 0 auto;
}

/* Text Styles */

h2 {
  font-family: georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
}

h3 {
  font-family: georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-size: 1.2rem;

  display: block;
  margin-bottom: 0.9375rem;
}

/* -----Article author */
h4 {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.article-date {
  font-size: 0.85rem;
  margin-bottom: 15px;
}

/* text positioning */

h2 {
  width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  font-size: 40px;
}

p {
  width: 600px;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.9375rem;
}

/* Footer layout */

.footer-flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.column-more-in {
  flex: 1;
}

.more-in-flex {
  /* background-color: steelblue; */
  display: flex;
  flex-wrap: wrap;
}

.more-in-flex > * {
  flex: 1 1 33.333%;
}

@media all and (max-width: 1025px) {
  .more-in-flex > * {
    flex: 1 1 50%;
  }
}

.column-most-popular {
  /* background-color: wheat; */
  flex-basis: 245px;
  margin-left: 8px;
}

.most-popular-flexbox-wrap {
  display: flex;
  height: calc(100% - 40px);
  flex-direction: column;
}
.most-popular-flexbox-wrap > * {
  /* border: 1px solid red; */
  border-top: 1px solid #666;
  flex: 1;
  /* padding: 10px 0; */
}

.footer-top-divider {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 0;
}

.suggested-article {
  padding: 8px;
}

.suggested-article img {
  width: 100%;
}

/* Footer Text */

.more-in-title,
.most-popular-title {
  padding: 10px 0;
  margin: 0 auto;
  border-top: 2px solid black;
  font-weight: 800;
}
.most-popular-title {
  width: 100%;
}

.more-in-title {
  width: calc(100% - 16px);
}

.footer-nav-list {
  list-style: none;
  text-align: center;
  color: #666;
  font-size: 11px;
}

.footer-nav-list li {
  display: inline-block;
  padding: 0 10px;
}

/* Nav footer */

.article-nav-flexwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-nav-flexwrapper > * {
  flex: 1 1 50px;
  margin-left: 15px;
  border-top: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-item span {
  display: block;
}

/* Article Diagerams */

.flex-diagram {
  width: 720px;
  height: 648px;
  position: relative;
  margin: 0 auto;
}

.flex-diagram img {
  width: 720px;
  height: 648px;
}

.diagram-caption {
  position: absolute;
  left: 10px;
  z-index: 2;
}

.diagram-caption {
  width: 173px;
}

.row-one {
  top: 130px;
}

.row-two {
  top: 430px;
}

.grid-caption {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-rows: 130px 171px 130px 170px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'blank blank blank blank'
    'one two three four'
    'blank2 blank2 blank2 blank2'
    'five six seven eight';
}

.grid-caption p {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  font-family: 'Franklin Gothic Medium', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.cap1 {
  grid-area: one;
}

.cap2 {
  grid-area: two;
}

.cap3 {
  grid-area: three;
}

.cap4 {
  grid-area: four;
}

.cap5 {
  grid-area: five;
}

.cap6 {
  grid-area: six;
}

.cap7 {
  grid-area: seven;
}

.cap8 {
  grid-area: eight;
}

.diagram-title {
  font-weight: bold;
}

/* Article Video */

.figure {
  width: 600px;
  margin: 0 auto;
}

.video-caption-credit {
  font-size: 0.8125rem;
}

/* Article Image */

.img-flex {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

#article-photo {
  width: 600px;
  flex: 1 1 600px;
}

/* CTA Article */

.cta-flex {
  display: flex;
  width: 600px;
  margin: 20px auto;
}

.cta-flex button {
  background-color: rgb(86, 123, 149);
  color: white;
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  border-radius: 3px;
  padding: 5px 0px;
  width: 328px;
  transition: background-color 0.6s ease 0s;
}

.cta-flex button:hover {
  background-color: rgb(50, 104, 145);
}
